@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: #F5F5F5;
  color: #111111;
  overflow-x: hidden;
}
::selection {
  background: black;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  top: -200px;
  right: -200px;
  width: 500px;
  height: 500px;
  background: rgba(0, 0, 0, 0.04);
  filter: blur(120px);
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  bottom: -200px;
  left: -200px;
  width: 500px;
  height: 500px;
  background: rgba(0, 0, 0, 0.03);
  filter: blur(120px);
  z-index: -1;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}